---
import { Image } from "astro:assets"
import MainLayout from "../layouts/MainLayout.astro"
import CurrenFullBody from "../assets/images/Curren_Chan_fullbody.webp"
---

<MainLayout title="Curren Channel">
	<div class="flexbox-x flexbox-shaded">
		<p class="center-text shaded">
			Haai!! Curren Chan desu.💝 This page is still under construction.⚠️ Be patient, kay?💕
		</p>
		<Image src={ CurrenFullBody } alt="Curren Full Body pic" loading="eager" fetchpriority="high" class={"full-body"}/>
	</div>
</MainLayout>
