---
import { Image } from "astro:assets"
import MainLayout from "../layouts/MainLayout.astro"
import CurrenFullBody from "../assets/images/Curren_Chan_fullbody.webp"
import CurrenTitle from "../assets/images/CurrenChannelTitle.png"
---

<MainLayout title="Curren Channel">
	<a href="https://www.youtube.com/@CurrenCh" target="_blank" class="title-wrapper">
		<Image src={ CurrenTitle } alt="Curren Title" loading="eager" fetchpriority="high" class={"title"} draggable="false"/>
	</a>
	<div class="flexbox-x flexbox-shaded">
		<p class="center-text shaded">
			Haai!! Curren Chan desu.💝 This page is still under construction.⚠️ Be patient, kay?💕
		</p>
		<Image src={ CurrenFullBody } alt="Curren Full Body pic" loading="eager" fetchpriority="high" class={"full-body"}/>
	</div>
</MainLayout>
