---
import { Image } from "astro:assets"
import "../styles/layout.css";

import CurrenTitle from "../assets/images/CurrenChannelTitle.png"
import CurrenFace1 from "../assets/images/CurrenFace1.png"
import CurrenFace2 from "../assets/images/CurrenFace2.png"

let {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />

        <meta property="og:type" content="website">
        <meta property="og:url" content="https://curren.channel/">
        <meta property="og:title" content="Curren Channel">
        <meta property="og:description" content="Curren Channel website dayo">
        <meta property="og:image" content="https://curren.channel/embed/embed-pic.png">

		<title>{title}</title>
	</head>
	<body>
		<!-- <nav class="nav">
			<ul class="nav-list">
				<li class="nav-item logo-item">
					<a href="/" class="logo-container nav-link">
						<Image src={ CurrenFace1 } alt="Curren Face" loading="eager" fetchpriority="high" class="logo"/>
						<Image src={ CurrenFace2 } alt="Curren Face" loading="eager" fetchpriority="high" class="logo-hover"/>
					</a>
				</li>
				<li class="nav-item">
					<a href="/games" class="nav-link">Games</a>
				</li>
				<li class="nav-item">
					<a href="/about" class="nav-link">About</a>
				</li>
			</ul>
		</nav> -->
        <main>
			<a href="https://www.youtube.com/@CurrenCh" target="_blank" class="title-wrapper">
				<Image src={ CurrenTitle } alt="Curren Title" loading="eager" fetchpriority="high" class="title" draggable="false"/>
			</a>
		    <slot></slot>
        </main>
        <footer>
            Copyright (c) 2026 Curren Channel. All Rights Reserved.<br>
            Not Affiliated with Cygames
        </footer>
	</body>
</html>
